 .slider{

    position: relative;
    height: 500px; 
 
} 


.carD {
    width:100%;
    display:inline-block;
    height:100%;
    object-fit: cover;
    border-radius: 25px;
    position:absolute;
    cursor: pointer;
    
}

 .left{
    position: absolute;
    width: 50px !important;
    height: 80px !important;
    top:50%; 
     transform: translate3d(0,-50%,0);
    left:5px;
    z-index: 1;
    cursor: pointer; 

} 
.right{
   right:5px ;
   position: absolute;
   top:50%;
   transform: translate3d(0,-50%,0);
   z-index: 1;
   cursor: pointer;
    width: 50px !important;
   height: 80px !important;   
    
    } 
.slideActive{
    width:100%;
    height: 100%;
    transform: scale(1);
    transition: transform 500ms;
}
.slide{
    transform: scale(1.03);
    transition: transform 500ms;

}
.parent-slider{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sliderNumber{

    position: absolute;
    left: 50%;
    bottom: 5%;
    color: white;
    font-weight:bold;
}
.information-content{
    display:flex;
   justify-content: space-between;
   align-items: center;
}
.information-profil{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color:#FF6060;
}
.information-profil :nth-child(1){

    font-size: 30px;
}
.information-profil :nth-child(2){

    font-size: 20px;
}
.information-picture{
    display: flex;
    gap: 7px;
    color:#FF6060;
    align-items: center;
}
.information-picture img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.information-picture span{
 width: 70px;
 line-height: 25px;
 font-size: 20px;
}
.circle-star{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.circle{
    display: flex;
    gap: 7px;
}
.circle span{

    background:#FF6060 ;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}
.starRed{
    width:20px;
    object-fit: cover;
    height:20px;

}
.stard{
    display: flex;
    gap:7px;
}
.starGrey{

    width:20px;
    object-fit: cover;
    height:20px;


}
.collapse{
    display: flex;
    gap: 50px;
    
}
.description{
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width:calc((100% / 2) - 50px / 2);
   
}
.equipments{

    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width:calc((100% / 2) - 50px / 2);


}
.sous-description {
    Width: 100%;
    Height:52px;
   border-radius:10px;
background:#FF6060;
padding: 1rem;
z-index: 1;
color: #fff;
cursor: pointer;
border: 0;

}

 .upDown{

      width: 25px;
    height: 15px;
    object-fit: cover;  
     position: absolute; 
      right: 30px; 
    top: 18px; 
    z-index: 5;
}
.Down{
    width: 25px;
    height: 15px;
    object-fit: cover;  
     position: absolute; 
      right: 30px; 
    top: 18px; 
    z-index: 5;
    display: none;

}
.bloc-description{
    background: #F7F7F7;
     border-bottom-left-radius: 10px; 
     border-bottom-right-radius: 10px; 
    padding:30px 20px ;
    color: #FF6060;
    line-height: 28px;
    height: auto;
    transition: height ease-in-out 0.5s;
    width: auto;
} 





/*********responsive ligtbox******/

@media all and (min-width: 360px) and (max-width: 767px){



.slider{

    position: relative;
    height: 400px; 
 transform: translate3d(0,50px,0);
} 


.information-content{
    display:flex;
   justify-content: space-between;
   align-items: center;
   transform: translate3d(0,60px,0);
}

.information-profil{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color:#FF6060;
}
.information-profil :nth-child(1){

    font-size: 20px;
}
.information-profil :nth-child(2){

    font-size: 15px;
}

.circle-star{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translate3d(0,60px,0);
}
.circle{
    display: flex;
    gap: 7px;
}
.circle span{

    background:#FF6060 ;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}
.starRed{
    width:20px;
    object-fit: cover;
    height:20px;

}
.stard{
    display: flex;
    gap:7px;
}
.starGrey{

    width:20px;
    object-fit: cover;
    height:20px;


}

.collapse{
    display: flex;
    gap: 40px;
    transform: translate3d(0,80px,0);
    width: 100%;

}
.description{
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 100%;
}
.sous-description {
    Width: 100%;
    Height:52px;
   border-radius:10px;
background:#FF6060;
padding: 1rem;
z-index: 1;
color: #fff;
cursor: pointer;
border: 0;

}

.upDown{

    width: 25px;
  height: 15px;
  object-fit: cover;  
   position: absolute; 
    right: 10px; 
  top: 18px; 
  z-index: 5;
}
.Down{
  width: 25px;
  height: 15px;
  object-fit: cover;  
   position: absolute; 
    right: 10px; 
  top: 18px; 
  z-index: 5;
  display: none;

}
.Dow{
    width: 25px;
    height: 15px;
    object-fit: cover;  
     position: absolute; 
      right: 10px; 
    top: 18px; 
    z-index: 5;
    display: none;

} 
.upDow{

    width: 25px;
  height: 15px;
  object-fit: cover;  
   position: absolute; 
    right: 10px; 
  top: 18px; 
  z-index: 5;
}


















}





